<h1>Mapa Terceiro</h1>
<p><%=@terceiro.nome%></p>
<p><%= @endereco_formatado %></p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@latitude}%2C#{@longitude}" %>

<%= link_to 'Voltar', terceiros_path%>
