@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
}
body, form {
	margin: 0;
	padding: 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}
input{
	border:1px #ccc solid;
	padding: 3px;
	
}

#SeusCads{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:32px;
text-align:center;
padding:30px;
}

.imgInicial{
position:relative;
margin-left:-305px;
left:50%;
}
.cliqueAqui{
position:relative;
margin-left:-121px;
left:50%;
cursor:pointer;
}

#topBar {
	position:relative;
	background:#CCC;
	width:100%;
	height:45px;
	margin-bottom:10px;
}
#topBar img {
	padding:10px;
	vertical-align:middle;
	margin-left:10px;
}
#topBar .logo {
	padding:0px;
	padding-right:10px;
	float:right;
}
table {
	margin:0px;
	font-size:12px;
	color:#999;
}
table th{
	border-top:3px solid #CCC;
	border-bottom:3px solid #CCC;
	color:#666;
	padding:10px;
}
table td{
	padding:10px;
	border-bottom: 1px solid #CCC;
}
table tr:hover{
	cursor:pointer;
	background:#A0E270;
	color:#FFF
}
h1 {
	padding:10px;
}
p {
	padding:10px;
}
.rodape{
font-size:9px;
text-align:center;
padding:10px;
}
#filtros {
	background:#A0E270;
	border:none;
}
#filtros  td{
	border:none;
}
#ImgMapa{
	background:#A0E270;
	width:450px;
	padding:15px;
	margin:10px;
}
#input_sharp{
	width:20px;
}
#input_nome{
	width:240px;
	margin-left:-10px;
}
#input_email{
	width:200px;
	margin-left:-28px;
}
#input_end{
	width:200px;
	margin-left:-15px;
}
.noteImg{
	margin-right:10px;
	vertical-align:middle;
}
.mailImg{
	vertical-align:middle;
	margin-right:25px;
}